<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Behrooz Vedadian's Occasional Musings on Life and Everything</title>
        <link rel="stylesheet" href="/font/elmi/elmi.css" />
        <link rel="stylesheet" href="/font/et-book/et-book.css" />
        <link rel="stylesheet" href="/css/temml.css" />
        <link rel="stylesheet" href="/css/blog.css" />
    </head>
    <body>
        <div class="nav"><ul>{% for u, t in nav_items() %}<li><a href="{{u}}">{{t}}</a></li>{% endfor %}</ul></div>
        <article>
            <div class="wrap_text"><h1 class="title">Musings on Life and Everything</h1></div>
            <div class="wrap_text"><p class="subtitle">By <a href="{{find_url('about_me')}}">Behrooz Vedadian</a></p></div>
            <div class="wrap_text"><table class="toc">
                <thead><tr><th></th><th>Title</th><th>Date</th></tr></thead>
                <tbody>
                    {% for url, (meta, mds) in sort_by_date(children.items()) %}
                    {% if meta.title %}<tr><td>{% for tag in meta.tags|sort %}<img src="{{tag | get_theme_resource('unknown', '.svg')}}" alt="" />{% endfor %}</td><td><a href="/{{url}}">{{meta.title | handle_math}}</a></td><td>{{meta.date | short_gregorian}}</td></tr>{% endif %}
                    {% endfor %}
                </tbody>
            </table></div>
        </article>
    </body>
</html>